.body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#heading{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    size: 2rem;
    color:white;
    margin: -10px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 2rem;
    color: rgb(255, 81, 0);

}
.input{
    width:50%;

}
.btn { padding: 2px 2px; font-size:
    
     20px; border-radius: 0px; 
    width:13%; 
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:25px;

}
span{
    color:brown;
}